<h2>Course edition</h2>
<form action="/courses/edit/<%= data.id %>" method="post">
  <div class="grid-x grid-margin-x">
    <div class="cell large-2">
      <div class="card">
        <div class="card-divider">
          <input type="text" name="name" value="<%= data.name %>">
        </div>
        <div class="card-section">
          <label for="startingDate">Starting Date</label>
          <input type="date" name="startingDate" value="<%= data.startingDate %>">
          <label for="endDate">End date</label>
          <input type="date" name="endDate" value="<%= data.endDate %>">
          <label for="level">Level</label>
          <select name="level">
  <option value="Advanced" <% if (data.level == "Advanced" {%> selected <%}%>>Advanced</option>
  <option value="Beginner" <% if (data.level == "Beginner" {%> selected <%}%>>Beginner</option>
  </select>
          <fieldset>
            <legend>Available</legend>
            <input type="radio" name="available" value="true" checked><label for="availableTrue">Yes</label>
            <input type="radio" name="available" value="false"><label for="availableFalse">No</label>
          </fieldset>
          <button class="button" type="submit">Save course</button>
        </div>
      </div>
    </div>
</form>
